@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin: 0 10px;

}

.slick-prev{
    background-color: rgb(169, 163, 163);
    border-radius: 2px;
    width: 37px;
    height: 36px;
    
}
.slick-next{
    background-color: rgb(169, 163, 163);
    width: 32px;
    height: 36px;
}
